<div class="container mt-5">
    <div class="row no-gutters">
        <div class="col-3 pr-4">
            <h4 class="text-light text-right">Connor Cummings</h4>
        </div>
        <div class="col-8">
            <ul>
                <li class="d-inline">
                    <a class="text-light" href="{% url 'portfolio-home' %}">Portfolio</a>
                </li>
                <li class="d-inline ml-5">
                    <a class="text-light">Blog</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Force next columns to break to new line -->
<div class="w-100"></div>