<div class="container mt-5">
    <div class="row no-gutters">
        <div class="col-3 pr-4">
            <h4 class="text-light text-right">Connor Cummings</h4>
        </div>
        <div class="col-8">
            <ul>
                <li class="d-inline">
                    <a class="text-light" href="{% url 'portfolio-home' %}">Portfolio</a>
                </li>
                <li class="d-inline ml-5">
                    <a class="text-light" href="{% url 'blog-home' %}">Blog</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid position-absolute" style="top:40%;">
    <h1 class="text-light text-center" style="font-size: 50px">Connor Cummings</h1>
    <h3 class="text-light text-center">Software Developer, Back-End Web Developer</h3>
    <p class="mx-auto mt-5 smooth-scroll" style="font-size: 50px; width: 50px">
        <a href="#main" class="text-light n-h-u">&darr;</a>
    </p>
</div>
<!-- Force next columns to break to new line -->
<div class="w-100"></div>
